{% extends "base.html" %}
{% load navigation_tags wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}

    <h1>Burmese Cuisine</h1>
    <h2>Tea Leaf Salad</h2>
    <h3>subheader</h3>
    <p>This is the paragraph text.</p>

    <!-- Button -->
    <a href="/" class="cta">
        <div class="circle">
            <i class="bi bi-arrow-right"></i>
        </div>
        <div class="cta-text">
            {{ page.about_cta_text }}
            <div class="load-line"></div>
        </div>
    </a>

{% endblock content %}
